.MainPage,
html,
body {
	height: 100%;
	margin: 0;
     


}
.info{
    width: 698px;
    border-radius: 2px;
    font-size: 1rem;
    height: 22px;
}
.info:focus-within{
    background-color: rgb(240, 242, 246);
}
.info input{
    float: left;
    font-size: 3rem;
    width: 16px;
    height: 16px;  
}

.info p{
    padding-top: 3px;
}
.openCurly{
    cursor: pointer;
}

.MainPage{
    display: flex;
}
.mainSection{
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 730px;
    width: 100%;
    box-sizing: border-box;
}
.c4{ 
    filter: hue-rotate(90deg);  
}  