.sidebarView{
    box-sizing: border-box;
}
.inputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.controls{
    height: 49px;
    display: flex;
    flex-direction: row;
}

.element-container{
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}
.GenderRadioGroup{
    display: block;
}