input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
    margin: 0;
    font-family: "IBM Plex Sans",sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    color: #262730;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(38,39,48,0);
}

.sidebarView{
    cursor: pointer;
    background-color: #f0f2f6;
    background-image: linear-gradient(180deg,#f0f2f6,#fafafa);
    background-attachment: fixed;
    box-sizing: border-box;
    flex-shrink: 0;
    height: 100vh;
    padding: 5rem 1rem;
    position: relative;
    transition: margin-left .3s,box-shadow .3s;
    width: 21rem;
    z-index: 100;
}
.sidebarView:hover{
    overflow-y: auto;
}
.sidebarView:not(:hover) {
    overflow-y: hidden;
}
.Infoboxes{
    position: relative;
}

div{
    display: block;
}


.inputContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}


.controls{
    height: 49px;
    display: flex;
    flex-direction: row;
}

.element-container{
    margin: 0 0 1rem;
    display: flex;
    flex-direction: column;
    position: relative;
}


.GenderRadioGroup{
    display: block;
}


.listVals li {
    list-style: none;
    cursor: pointer;
}

.inputCtrl {
    box-sizing: border-box;
    color: rgb(38, 39, 48);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 14px;
    padding-right: 14px;
    outline: none;
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: rgb(38, 39, 48);
    line-height: 1.6;
    font-size: .9rem;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: normal;
    border-radius: 5px 0px 0px 5px;
}


.stepUp{

}
.stepDown{
    border-radius: 0px 5px 5px 0px !important;
}

.stepBtn{
    align-items: center;
    background-color: #e6eaf1;
    border: 0;
    height: 100%;
    width: 45px;
    justify-content: center;
    transition: color .3s,background-color .3s;
    cursor: pointer;
    margin: 0;
    display: inline-flex;
    color: -internal-light-dark(black, white);
    padding: 1px 6px;
    text-align: center;
    font-size: .5rem;
    line-height: inherit;
    border-radius: 0;
    font: 400 25.3333px Arial;
}

.diabInput {
    width: 287px;
    border-radius: 5px 5px 5px 5px;
}
.DibVals {
    margin-top: 8px;
    width: 287px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 16%) 0px 4px 16px;
    border-radius: .25rem;
    display: block;
    position: relative;
    color: rgb(38, 39, 48);
    box-sizing: border-box;
}

.listVals{
    
}